# Reviews
### This notebook is meant to add new features to our listings: the reviews
## 7 Reviews are available in the code by default, additionaly, we are collecting the host description

In [1]:
import time   
from random import randint
from bs4 import BeautifulSoup
import re
import urllib
import requests
import pandas as pd
import numpy as np

def get_result(room_):
    hdr = {'User-Agent': 
           'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11'}
    room=str(room_)
    url = "https://www.airbnb.com/rooms/"
    search= '?guests=1&adults=1'
    url_=url+room+search
    time.sleep(randint(0,1))
    response = requests.get(url_, hdr, timeout=20)
    result_page = BeautifulSoup(response.content,'lxml')
    
    return result_page

def get_avail(room_):
    result_page = get_result(room_)
    meta_=result_page.find_all(id="reviews") #If empty, listing is not available
    if meta_==[]:
        available_=False
    else:
        available_=True

    return available_

In [9]:
def reviews(room_): 
    result_page = get_result(room_)
    available_=get_avail(room_)
    
        
    try:
        
        if available_==False:
            review_df=pd.DataFrame([[np.NAN, np.NAN, np.NAN, np.NAN, np.NAN, np.NAN, np.NAN, np.NAN]],index = [room_], 
                    columns = ['Review 1','Review 2','Review 3','Review 4','Review 5','Review 6','Review 7','Description'])
    
        else:
            abc_=result_page.find_all(type="application/json")[2].get_text()
            
            rev_=(abc_[abc_.find('"sorted_reviews"')+17:abc_.rfind('"visible_review_count"')-1])

            rev_1=rev_[rev_.find('"comments"')+11:rev_.find('"id"')-1]

            rev_=rev_[rev_.find('"id"')+5:]
            rev_=rev_[rev_.find('"comments"'):]
            rev_2=rev_[rev_.find('"comments"')+11:rev_.find('"id"')-1]

            rev_=rev_[rev_.find('"id"')+5:]
            rev_=rev_[rev_.find('"comments"'):]  
            rev_3=rev_[rev_.find('"comments"')+11:rev_.find('"id"')-1]

            rev_=rev_[rev_.find('"id"')+5:]
            rev_=rev_[rev_.find('"comments"'):]
            rev_4=rev_[rev_.find('"comments"')+11:rev_.find('"id"')-1]

            rev_=rev_[rev_.find('"id"')+5:]
            rev_=rev_[rev_.find('"comments"'):]
            rev_5=rev_[rev_.find('"comments"')+11:rev_.find('"id"')-1]

            rev_=rev_[rev_.find('"id"')+5:]
            rev_=rev_[rev_.find('"comments"'):]
            rev_6=rev_[rev_.find('"comments"')+11:rev_.find('"id"')-1]

            rev_=rev_[rev_.find('"id"')+5:]
            rev_=rev_[rev_.find('"comments"'):]
            rev_7=rev_[rev_.find('"comments"')+11:rev_.find('"id"')-1]
            
            descrip_=(abc_[abc_.find('sectioned_description'):abc_.find('"star_rating"')])

            rev_summ=[rev_1,rev_2,rev_3,rev_4,rev_5,rev_6,rev_7,descrip_]
                        
            review_df=pd.DataFrame([rev_summ],index = [room_], 
                    columns = ['Review 1','Review 2','Review 3','Review 4','Review 5','Review 6','Review 7','Description'])
            
        return review_df
        
    except:
        
        print("Didn't work",'Room:',room_)
        return pd.DataFrame([[np.NAN, np.NAN, np.NAN, np.NAN, np.NAN, np.NAN, np.NAN, np.NAN]],index = [room_], 
                    columns = ['Review 1','Review 2','Review 3','Review 4','Review 5','Review 6','Review 7','Description'])

In [3]:
filename = 'listings_neibourhood.csv'
data_borough = pd.read_csv(filename)
del data_borough['Unnamed: 0']
data_borough.head()

,id,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_Harlem,neighbourhood_Morningside Heights,neighbourhood_Upper West Side
0,3647,150,3,0,0.00,365,0,1,0,1,0,0
1,5203,79,2,118,1.03,0,0,1,0,0,0,1
2,5295,135,5,43,0.36,53,1,0,0,0,0,1
3,6021,85,2,100,0.84,365,0,1,0,0,0,1
4,9668,50,3,230,2.02,348,0,1,0,1,0,0

In [11]:
reviews(5203)

,Review 1,Review 2,Review 3,Review 4,Review 5,Review 6,Review 7,Description
5203,"""fantastic. great stay and nice people ""","""Great location, 5min walk to Columbia campus;...","""Great price for the room and location. My hos...","""Welcoming space, clean, great location, comfo...","""Hands down my favorite Airbnb listing where I...","""MaryEllen is a very nice, hospitable person. ...","""The whole family is amazing, including their ...","sectioned_description"":{""access"":""Guests will ..."

In [10]:
ids = data_borough['id']
len(ids)

5296

In [6]:
ids.head()

0    3647
1    5203
2    5295
3    6021
4    9668
Name: id, dtype: int64

Data frame is generated in small batch in order to mitigate mistakes due to internet connections, loading errors, etc. There is a timeout between each call to avoid blockage from AirBNB

In [13]:
#Generating Data Frame 
review_ = reviews(ids.iloc[0])

In [14]:
#Generating 1st 1000 entries
for i in range(1,500):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 50
step 100
Didn't work Room: 310338
step 150
step 200
Didn't work Room: 770893
step 250
Didn't work Room: 842494
step 300
step 350
Didn't work Room: 1567225
step 400
step 450
done

In [15]:
#Generating 1st 1000 entries
for i in range(500,1000):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 500
step 550
step 600
Didn't work Room: 3139749
Didn't work Room: 3359315
step 650
Didn't work Room: 3838375
step 700
step 750
step 800
Didn't work Room: 4572225
step 850
Didn't work Room: 4778638
step 900
step 950
done

In [16]:
#Generating next entries
for i in range(1000,1500):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 1000
Didn't work Room: 5763191
Didn't work Room: 5944801
step 1050
step 1100
Didn't work Room: 6590570
Didn't work Room: 6644669
step 1150
step 1200
step 1250
step 1300
Didn't work Room: 7799045
Didn't work Room: 7823121
step 1350
step 1400
step 1450
done

In [17]:
bak1500_=review_ #Backup dataframe

In [18]:
#Generating next entries
for i in range(1500,2000):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 1500
step 1550
Didn't work Room: 9341671
step 1600
step 1650
step 1700
step 1750
step 1800
step 1850
step 1900
step 1950
done

In [19]:
#Generating next entries
for i in range(2000,2500):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 2000
Didn't work Room: 12315833
step 2050
step 2100
Didn't work Room: 12967227
step 2150
step 2200
step 2250
Didn't work Room: 13559208
step 2300
step 2350
step 2400
step 2450
done

In [20]:
bak2500_=review_ #Backup dataframe

In [21]:
#Generating next entries
for i in range(2500,3000):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 2500
Didn't work Room: 15234755
step 2550
step 2600
step 2650
step 2700
step 2750
Didn't work Room: 17304795
step 2800
step 2850
step 2900
step 2950
done

In [22]:
#Generating next entries
for i in range(3000,3500):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 3000
step 3050
step 3100
Didn't work Room: 19389911
step 3150
step 3200
step 3250
step 3300
step 3350
step 3400
step 3450
done

In [23]:
bak3500_=review_ #Backup dataframe

In [24]:
#Generating next entries
for i in range(3500,4000):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 3500
step 3550
step 3600
step 3650
step 3700
step 3750
step 3800
step 3850
step 3900
step 3950
done

In [25]:
#Generating next entries
for i in range(4000,4500):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 4000
Didn't work Room: 24621401
Didn't work Room: 24624581
step 4050
step 4100
Didn't work Room: 25291991
step 4150
step 4200
Didn't work Room: 26025770
step 4250
step 4300
Didn't work Room: 26995950
step 4350
step 4400
step 4450
done

In [26]:
#Generating next entries
for i in range(4500,5000):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 4500
step 4550
step 4600
Didn't work Room: 29035502
step 4650
step 4700
step 4750
step 4800
step 4850
step 4900
step 4950
done

In [27]:
#Generating next entries
for i in range(5000,len(ids)):
    review_ = review_.append(reviews(ids.iloc[i]))
    if i%50 == 0:
        print('step',i)
print('done')

step 5000
step 5050
step 5100
step 5150
step 5200
step 5250
Didn't work Room: 31988004
done

In [28]:
bakfull_=review_ #Backup dataframe

In [32]:
review_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5296 entries, 3647 to 32053614
Data columns (total 8 columns):
Review 1       4550 non-null object
Review 2       4550 non-null object
Review 3       4550 non-null object
Review 4       4550 non-null object
Review 5       4550 non-null object
Review 6       4550 non-null object
Review 7       4550 non-null object
Description    4550 non-null object
dtypes: object(8)
memory usage: 372.4+ KB

Generating a new dataframe to replace failed attempts of several listings

In [33]:
missing_=[310338,770893,842494,1567225,3139749,3359315,3838375,4572225,4778638,5763191,5944801,6590570,6644669,
          7799045,7823121,9341671,12315833,12967227,13559208,15234755,17304795,19389911, 24621401,24624581,
          25291991,26025770,26995950,29035502,31988004]

miss_df=pd.DataFrame(missing_, columns=['id'])
ids_miss = miss_df['id']
print(ids_miss.head())
print('DataPoints:',len(ids_miss))

0     310338
1     770893
2     842494
3    1567225
4    3139749
Name: id, dtype: int64
DataPoints: 29

In [34]:
#Generating Data Frame for Missed Listings
review_miss = reviews(ids_miss.iloc[0])
#Generating next entries
for i in range(1,len(ids_miss)):
    review_miss = review_miss.append(reviews(ids_miss.iloc[i]))
    if i%5 == 0:
        print('step',i)
print('done')

step 5
step 10
step 15
step 20
step 25
done

In [41]:
review_miss.head()

,Review 1,Review 2,Review 3,Review 4,Review 5,Review 6,Review 7,Description
310338,"""Kimberly’s apartment was very clean and homey...","""The host canceled this reservation 23 days be...","""We had a bit of a miscommunication on my arri...","""Kimberly was very nice and accommodating. Sta...","""Kimberly was awesome! She was wicked accommod...","""Kimberly is a great host. Laid back and is a ...","""This was a great stay. A secure building and...","sectioned_description"":{""access"":null,""author_..."
770893,"""Victoria was very flexible and able to work w...","""Great apartment and location! Victoria was a ...","""The host canceled this reservation 23 days be...",,,,,"sectioned_description"":{""access"":null,""author_..."
842494,"""Staying at Lisa´s apartment was great. The pl...",,,,,,,"sectioned_description"":{""access"":""Immaculate l..."
1567225,"""The apartment is so very convenient to the su...","""Great location and hospitality. Matt's place...","""Great location near the subway and Central Park""","""Matt's apt is very interesting. His house is ...","""The host was welcoming and very accommodating...","""Hard-to-beat location, with super-convenient ...","""The reservation was canceled 28 days before a...","sectioned_description"":{""access"":""We have Wifi..."
3139749,"""Jack was a great host. He was very responsiv...","""Jack was wonderfully helpful (as in, like, he...","""Jack is a really welcoming person! \r\nAs I a...",,,,,"sectioned_description"":{""access"":""You have acc..."

In [37]:
#Complementing missed listings
bak_=review_.drop(missing_) #Dropping initially missed listings with succesful attempts

complete_=pd.concat([bak_,review_miss])
complete_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5296 entries, 3647 to 31988004
Data columns (total 8 columns):
Review 1       4579 non-null object
Review 2       4579 non-null object
Review 3       4579 non-null object
Review 4       4579 non-null object
Review 5       4579 non-null object
Review 6       4579 non-null object
Review 7       4579 non-null object
Description    4579 non-null object
dtypes: object(8)
memory usage: 372.4+ KB

In [38]:
#Generating csv file to export Ratings
complete_.to_csv('reviews.csv')